<div id="page_wrapper">
	<div id="profile_picture"> 
	<%= image_tag "profile.jpeg" %>
	</div>
	
	<div id="content">
		<p>T-bone prosciutto venison tail ham tri-tip pastrami beef shank andouille chicken capicola corned beef porchetta shankle. Flank picanha shankle filet mignon ham beef ribs, ground round ball tip kielbasa. Landjaeger bacon pork loin hamburger, pork brisket shankle strip steak flank turducken ribeye cupim turkey frankfurter. Ham tri-tip biltong t-bone jowl pork belly shank cow filet mignon rump andouille shankle. Bresaola rump tri-tip beef sirloin, ball tip kevin drumstick biltong andouille meatloaf hamburger. Picanha rump ribeye, brisket pork belly pig prosciutto short loin boudin hamburger kevin bacon andouille. Prosciutto kevin rump leberkas.
		</p>
	</div>
</div>
